header {
    background-color: #2C3E50;
}

div.square{
    height: 200px;
    width: 200px;
    background-color: #2C3E50;

}

div.rectangle{
    height: 200px;
    width: 300px;
    background-color: #BB4B63;
}
#jumbotron{
    background-color: #53BD9D;
}