header,
section.footer-bottom,
section div.dash {
    background-color: #2C3E50;
}


p.blue-color {
    color: #2C3E50;
}

section.footer-top{
    background-color: #3A546D;
}

#jumbotron,
#about{
    background-color: #53BD9D;
}

#jumbotron img {
    max-width: 200px;
}

button[type="submit"]{
    background-color: #53BD9D;
}

p.little-font{
    font-size: .7rem;
}

a.green-text {
    color: #53BD9D;
}

div.dash {
    height: 4px;
    width: 4rem;
}

div.star::after {
    content: "\2605";
}

section#portfolio div.star,
section#contact div.star{
    color: #2C3E50;
}



